/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
html,
body {
  height: 100%;
}
body {
  line-height: 1.2;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}

/* Site styles */
/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
html,
body {
  height: 100%;
}
body {
  line-height: 1.2;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}

/* Site styles */
body {
  background-color: #F6F6F6;
  color: #000000;
  padding-top: 90px;
}


.site-header {
  padding: 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: .5px solid #E6E6E6;
  position: fixed; /* Fix the header at the top */
  top: 0; /* Align the header to the top of the viewport */
  left: 0; /* Align the header to the left of the viewport */
  right: 0; /* Ensure the header stretches across the full width */
  background-color: inherit; /* Match the background color with the body or a specific color */
  z-index: 1000; /* Ensure the header stays on top of other content */
}

.padding {
  margin-top: 30px;
}

main {
  padding-bottom: 50px; 
  /* padding-left: -10px;
  padding-right: -10px; */
  
}

a {
  color: inherit;
  text-decoration: none;
}
