/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
html,
body {
  height: 100%;
}
body {
  line-height: 1.2;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}

/* Site styles */
/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
html,
body {
  height: 100%;
}
body {
  line-height: 1.2;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}

/* Site styles */
body {
  background-color: #F6F6F6;
  color: #000000;
  padding-top: 90px;
}


.site-header {
  padding: 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: .5px solid #E6E6E6;
  position: fixed; /* Fix the header at the top */
  top: 0; /* Align the header to the top of the viewport */
  left: 0; /* Align the header to the left of the viewport */
  right: 0; /* Ensure the header stretches across the full width */
  background-color: inherit; /* Match the background color with the body or a specific color */
  z-index: 1000; /* Ensure the header stays on top of other content */
}

.padding {
  margin-top: 30px;
}

main {
  padding-bottom: 50px; 
  /* padding-left: -10px;
  padding-right: -10px; */
  
}

a {
  color: inherit;
  text-decoration: none;
}

.title {
  font-weight: 900;
  font-size: 24px;
}


.outer-container {
  max-width: 900px; /* Set the maximum width */
  margin: auto; /* Center the container in the viewport */
  width: 100%; /* Take the full width up to the max-width */
  
}

.home-container {
  display: block;
  text-align: center;
  margin: auto; /* Centers the container */
  
}

.left-column, .right-column {
  width: 100%;
}

/* Larger screens layout */
@media (min-width: 768px) {
  .home-container {
    display: flex;
    justify-content: center; /* Center the columns horizontally */
    align-items: flex-start; /* Align columns to the top */
    padding-left: 30px;
    padding-right: 30px;
  }

  .left-column {
    flex: 1; /* Left column takes up less space */
    margin-right: 5px; /* Minimal space between the columns */
  }

  .right-column {
    flex: 2; /* Right column takes up more space */
    margin-left: 5px; /* Minimal space from the left column */
  }
}

/* Optional: Remove margins on smaller screens if desired */
/* @media (max-width: 768px) {
  .left-column, .right-column {
    margin-right: 0;
    margin-left: 0;
  }
} */

.description {
  display: none;
}

/* Show the description div when the screen width is more than 768px */
@media screen and (min-width: 768px) {
  .description {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    align-items: flex-start;
    text-align: left;
    padding-left: 40px;
    padding-top: 10px;
    margin-bottom: -20px;
  }

  .description-body {
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #E6E6E6;
    font-weight: 300;
    line-height: 1.4;
  }

  .description-heading {
    font-size: 20px;
  }

}

